body {
    background-color: #f7f8fc !important;
}

.card {
    background-color: white !important;
}

.action-button {
    margin-left: 5px;
}

.info-span {
    font-size: 14px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1500px;
    }
}

#invalidPW {
    font-size: 12px;
    color: red;
    display: none;
}